{% for _stack in stacks.keys()  %}
{% if stacks[_stack].url is defined %}
{{ host_ip }} {{ stacks[_stack].url }}
{% endif %}
{% if stacks[_stack].services is defined %}
{% for _service in stacks[_stack].services.keys() %}
{% if stacks[_stack].services[_service].url is defined %}
{{ host_ip }} {{ stacks[_stack].services[_service].url }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
