---
version: "{{ docker_compose_version }}"

networks:
  {{ stacks.traefik.network_name }}:
    external: true

services:
  radarr:
    networks:
      - {{ stacks.traefik.network_name }}
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    volumes:
      - {{ stacks.servarr.services.radarr.folder }}/:/config
      - {{ shares.movies.mount_point }}:/data/movies
      - {{ stacks.servarr.downloads }}:/data/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
    restart: unless-stopped
    labels:
      org.label-schema.group: "monitoring"
      traefik.enable: true
      traefik.http.routers.radarr.rule: "Host(`{{ stacks.servarr.services.radarr.url }}`)"
      traefik.http.services.radarr.loadbalancer.server.port: {{ stacks.servarr.services.radarr.service_port }}
      traefik.http.routers.radarr.entrypoints: http

  prowlarr:
    networks:
      - {{ stacks.traefik.network_name }}
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
    restart: unless-stopped
    volumes:
      - {{ stacks.servarr.services.prowlarr.folder }}/:/config
    labels:
      org.label-schema.group: "monitoring"
      traefik.enable: true
      traefik.http.routers.prowlarr.rule: "Host(`{{ stacks.servarr.services.prowlarr.url }}`)"
      traefik.http.services.prowlarr.loadbalancer.server.port: {{ stacks.servarr.services.prowlarr.service_port }}
      traefik.http.routers.prowlarr.entrypoints: http

  downloaderr:
    networks:
      - {{ stacks.traefik.network_name }}
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: downloaderr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
      - WEBUI_PORT={{ stacks.servarr.services.downloaderr.service_port }}
    volumes:
      - {{ stacks.servarr.services.downloaderr.folder }}/:/config
      - {{ stacks.servarr.downloads }}:/downloads
    ports:
      - {{ stacks.servarr.services.downloaderr.service_port }}:{{ stacks.servarr.services.downloaderr.service_port }}
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
    labels:
      org.label-schema.group: "monitoring"
      traefik.enable: true
      traefik.http.routers.downloaderr.rule: "Host(`{{ stacks.servarr.services.downloaderr.url }}`)"
      traefik.http.services.downloaderr.loadbalancer.server.port: {{ stacks.servarr.services.downloaderr.service_port }}
      traefik.http.routers.downloaderr.entrypoints: http
      traefik.http.services.downloaderr.loadBalancer.passHostHeader: false
