---
version: "{{ docker_compose_version }}"

networks:
  {{ docker.network_name }}:
    external: true

services:
  radarr:
    networks:
      - {{ docker.network_name }}
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    volumes:
      - {{ stacks.servarr.services.radarr.folder }}/:/config
      - {{ shares.movies.mount_point }}:/data/movies
      - {{ stacks.servarr.downloads }}:/data/downloads
    environment:
      - PUID={{ docker.environment.PUID }}
      - PGID={{ docker.environment.PGID }}
      - TZ={{ docker.environment.TZ }}
    restart: unless-stopped
    labels:
      org.label-schema.group: "monitoring"
      traefik.enable: true
      traefik.http.routers.radarr.rule: "Host(`{{ stacks.servarr.services.radarr.url }}`)"
      traefik.http.services.radarr.loadbalancer.server.port: {{ stacks.servarr.services.radarr.service_port }}
      traefik.http.routers.radarr.entrypoints: http

  prowlarr:
    networks:
      - {{ docker.network_name }}
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    environment:
      - PUID={{ docker.environment.PUID }}
      - PGID={{ docker.environment.PGID }}
      - TZ={{ docker.environment.TZ }}
    restart: unless-stopped
    volumes:
      - {{ stacks.servarr.services.prowlarr.folder }}/:/config
    labels:
      org.label-schema.group: "monitoring"
      traefik.enable: true
      traefik.http.routers.prowlarr.rule: "Host(`{{ stacks.servarr.services.prowlarr.url }}`)"
      traefik.http.services.prowlarr.loadbalancer.server.port: {{ stacks.servarr.services.prowlarr.service_port }}
      traefik.http.routers.prowlarr.entrypoints: http

  downloaderr:
    networks:
      - {{ docker.network_name }}
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: downloaderr
    environment:
      - PUID={{ docker.environment.PUID }}
      - PGID={{ docker.environment.PGID }}
      - TZ={{ docker.environment.TZ }}
      - WEBUI_PORT={{ stacks.servarr.services.downloaderr.service_port }}
    volumes:
      - {{ stacks.servarr.services.downloaderr.folder }}/:/config
      - {{ stacks.servarr.downloads }}:/downloads
    restart: unless-stopped
    labels:
      org.label-schema.group: "monitoring"
      traefik.enable: true
      traefik.http.routers.downloaderr.rule: "Host(`{{ stacks.servarr.services.downloaderr.url }}`)"
      traefik.http.services.downloaderr.loadbalancer.server.port: {{ stacks.servarr.services.downloaderr.service_port }}
      traefik.http.routers.downloaderr.entrypoints: http

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    networks:
      - {{ docker.network_name }}
    container_name: sonarr
    restart: unless-stopped
    volumes:
      - {{ stacks.servarr.services.sonarr.folder }}/:/config
      - {{ shares.shows.mount_point }}:/data/shows
      - {{ stacks.servarr.downloads }}:/data/downloads
    environment:
      - PUID={{ docker.environment.PUID }}
      - PGID={{ docker.environment.PGID }}
      - TZ={{ docker.environment.TZ }}
    labels:
      org.label-schema.group: "monitoring"
      traefik.enable: true
      traefik.http.routers.sonarr.rule: "Host(`{{ stacks.servarr.services.sonarr.url }}`)"
      traefik.http.services.sonarr.loadbalancer.server.port: {{ stacks.servarr.services.sonarr.service_port }}
      traefik.http.routers.sonarr.entrypoints: http

  heimdall:
    networks:
      - {{ docker.network_name }}
    dns:
      - {{ dns_container_ip }}
    image: lscr.io/linuxserver/heimdall:latest
    container_name: heimdall
    restart: unless-stopped
    volumes:
      - {{ stacks.servarr.services.heimdall.folder }}/:/config
    environment:
      - PUID={{ docker.environment.PUID }}
      - PGID={{ docker.environment.PGID }}
      - TZ={{ docker.environment.TZ }}
    labels:
      org.label-schema.group: "monitoring"
      traefik.enable: true
      traefik.http.routers.heimdall.rule: "Host(`{{ stacks.servarr.services.heimdall.url }}`)"
      traefik.http.services.heimdall.loadbalancer.server.port: {{ stacks.servarr.services.heimdall.service_port }}
      traefik.http.routers.heimdall.entrypoints: http
