---
version: "{{ docker_compose_version }}"

networks:
  {{ docker.network_name }}:
    external: true

services:
  jellyfin:
    networks:
      - {{ docker.network_name }}
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID={{ docker.environment.PUID }}
      - PGID={{ docker.environment.PGID }}
      - TZ={{ docker.environment.TZ }}
      - JELLYFIN_PublishedServerUrl={{ stacks.jellyfin.url }}
      - DOCKER_MODS=linuxserver/mods:jellyfin-opencl-intel
    group_add: # by id as these may not exist within the container. Needed to provide permissions to the VAAPI Devices
      - '105'
      - '44'
    volumes:
      # NOTE: local folder, to avoid sqlite + samba problems
      - {{ stacks.jellyfin.folder }}/config:/config
      - {{ shares.jellyfin.mount_point }}:/cache
      - {{ shares.movies.mount_point }}:/media/movies
      - {{ shares.shows.mount_point }}:/media/shows
      - {{ shares.kids_movies.mount_point }}:/media/videos
      - /dev/shm/jf-transcodes:/transcodes:rw
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
    labels:
      org.label-schema.group: "monitoring"
      traefik.enable: true
      traefik.http.routers.jellyfin.entrypoints: http
      traefik.http.routers.jellyfin.rule: "Host(`{{ stacks.jellyfin.url }}`)"
      traefik.http.services.jellyfin-svc.loadBalancer.server.port: {{ stacks.jellyfin.service_port }}
      traefik.http.services.jellyfin-svc.loadBalancer.passHostHeader: true
