---
version: "3.3"

services:

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
      # - JELLYFIN_PublishedServerUrl=192.168.1.96
    group_add: # by id as these may not exist within the container. Needed to provide permissions to the VAAPI Devices
      - '989' # render
      - '985' # video
    # Network mode of 'host' exposes the ports on the host. This is needed for DLNA access.
    network_mode: 'host'
    volumes:
      - {{ nfs_jellyfin_config }}:/config
      - {{ nfs_jellyfin_cache }}:/cache
      # - {{ nfs_movies.mount_point }}:/media/movies
      - {{ nfs_shows.mount_point }}:/media/shows
    restart: unless-stopped
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.jellyfin.entrypoints=http'
      - 'traefik.http.routers.jellyfin.rule=Host(`{{ inventory_hostname }}`) && PathPrefix(`/jellyfin`)'
