---
version: "3.3"

services:

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
    group_add: # by id as these may not exist within the container. Needed to provide permissions to the VAAPI Devices
      - '989' # render
      - '985' # video
    ports:
    - 8096:8096
    - 8920:8920
    volumes:
    # - {{ shares.jellyfin_config.mount_point }}:/config
      - {{ shares.jellyfin_cache.mount_point }}:/cache
      - {{ shares.movies.mount_point }}:/media/movies
      - {{ shares.shows.mount_point }}:/media/shows
      - {{ shares.books.mount_point }}:/media/books
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
    #- /dev/dri/renderD128:/dev/dri/renderD128
    #- /dev/dri/card0:/dev/dri/card0
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.jellyfin.entrypoints=http'
      - 'traefik.http.routers.jellyfin.rule=Host(`{{ inventory_hostname }}`) && PathPrefix(`/jellyfin`)'
