---
version: "{{ docker_compose_version }}"

networks:
  {{ docker.network_name }}:
    external: true

services:
  traefik:
    networks:
      - {{ docker.network_name }}
    image: traefik:v3.2
    container_name: traefik
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:172.17.0.1"
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ stacks.traefik.folder }}/traefik.yaml:/traefik.yaml
      - {{ stacks.traefik.folder }}/traefik-provider.toml:/traefik-provider.toml
      - {{ stacks.traefik.folder }}/traefik.log:/traefik.log
    labels:
      org.label-schema.group: "monitoring"
      traefik.enable: true
      traefik.http.routers.traefik.rule: "Host(`{{ stacks.traefik.url }}`)"
      traefik.http.services.traefik.loadbalancer.server.port: {{ stacks.traefik.service_port }}
      traefik.http.routers.traefik.entrypoints: http
