---
version: "3.3"

services:

  traefik:
    image: "traefik:v2.9"
    container_name: "traefik"
    restart: unless-stopped
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
       # So that Traefik can listen to the Docker events (read-only)
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # TOML Configuration with global options
      - {{ traefik_folder }}/traefik.toml:/traefik.toml
      # Configuration for the file provider (needed for host networking and default TLS Options)
      - {{ traefik_folder }}/traefik-provider.toml:/traefik-provider.toml
       # Log File (optional)
      - {{ traefik_folder }}/traefik.log:/traefik.log

  whoami:
    image: "traefik/whoami"
    container_name: "simple-service"
    labels:
      - "traefik.enable=true"
      - 'traefik.http.routers.whoami.rule=Host(`{{ inventory_hostname }}`) && PathPrefix(`/whoami`)'
      - "traefik.http.routers.whoami.entrypoints=http"
