---
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.1.0/24
    - 127.0.0.1
    - {{ traefik_container_subnet }}

# Text to speech
tts:
  - platform: google_translate

# group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

climate:
  - platform: airzonecloud
    username: {{ secrets.airzone_username }}
    password: {{ secrets.airzone_password }}

prometheus:
  namespace: hass
