---
version: "{{ docker_compose_version }}"

networks:
  {{ docker.network_name }}:
    external: true

services:
  amule:
    image: ngosang/amule
    container_name: amule
    networks:
      - {{ docker.network_name }}
    environment:
      - PUID={{ docker.environment.PUID }}
      - PGID={{ docker.environment.PGID }}
      - TZ={{ docker.environment.TZ }}
      - GUI_PWD=admin123
      - WEBUI_PWD=admin123
      - MOD_AUTO_RESTART_ENABLED=true
      - MOD_AUTO_RESTART_CRON=0 6 * * *
      - MOD_AUTO_SHARE_ENABLED=false
      - MOD_AUTO_SHARE_DIRECTORIES=/incoming
      - MOD_FIX_KAD_GRAPH_ENABLED=true
      - MOD_FIX_KAD_BOOTSTRAP_ENABLED=true
    ports:
      - "4712:4712" # remote gui, webserver, cmd ...
      #- "4662:4662" # ed2k tcp
      #- "4665:4665/udp" # ed2k global search udp (tcp port +3)
      #- "4672:4672/udp" # ed2k udp
    volumes:
      - {{ stacks.amule.folder }}:/home/amule/.aMule
      - {{ shares.downloads.mount_point }}:/incoming
      - {{ shares.downloads.mount_point }}/.tmp:/temp
    restart: unless-stopped
    labels:
      org.label-schema.group: "monitoring"
      traefik.enable: true
      traefik.http.routers.amule.entrypoints: http
      traefik.http.routers.amule.rule: "Host(`{{ stacks.amule.url }}`)"
      traefik.http.services.amule-svc.loadBalancer.server.port: {{ stacks.amule.service_port }}
      traefik.http.services.amule-svc.loadBalancer.passHostHeader: true

