---
version: "{{ docker_compose_version }}"

networks:
  {{ stacks.traefik.network_name }}:
    external: true

services:
  prometheus:
    networks:
      - {{ stacks.traefik.network_name }}
    image: prom/prometheus:v2.40.1
    container_name: prometheus
    volumes:
      - {{ stacks.prometheus.folder }}/etc:/etc/prometheus
      - {{ stacks.prometheus.folder }}/data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
      - '--web.enable-lifecycle'
    restart: unless-stopped
    labels:
      org.label-schema.group: "monitoring"
      traefik.enable: true
      traefik.http.routers.prometheus.rule: "Host(`{{ stacks.prometheus.url }}`)"
      traefik.http.services.prometheus.loadbalancer.server.port: {{ stacks.prometheus.service_port }}
      traefik.http.routers.prometheus.entrypoints: http

  nodeexporter:
    networks:
      - {{ stacks.traefik.network_name }}
    image: prom/node-exporter:v1.4.0
    container_name: nodeexporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    restart: unless-stopped
    labels:
      org.label-schema.group: "monitoring"
      traefik.enable: true
      traefik.http.routers.nodeexporter.rule: "Host(`{{ stacks.prometheus.services.nodeexporter.url }}`)"
      traefik.http.services.nodeexporter.loadbalancer.server.port: {{ stacks.prometheus.services.nodeexporter.service_port }}
      traefik.http.routers.nodeexporter.entrypoints: http

  cadvisor:
    networks:
      - {{ stacks.traefik.network_name }}
    image: gcr.io/cadvisor/cadvisor:v0.46.0
    container_name: cadvisor
    privileged: true
    devices:
      - /dev/kmsg:/dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /cgroup:/cgroup:ro
    restart: unless-stopped
    labels:
      org.label-schema.group: "monitoring"
      traefik.enable: true
      traefik.http.routers.cadvisor.rule: "Host(`{{ stacks.prometheus.services.cadvisor.url }}`)"
      traefik.http.services.cadvisor.loadbalancer.server.port: {{ stacks.prometheus.services.cadvisor.service_port }}
      traefik.http.routers.cadvisor.entrypoints: http
