apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:{{ stacks.o11y.services.prometheus.service_port }}
    basicAuth: false
    isDefault: true
    editable: true
